body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

body .wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222;
}

body .wrap span#result {
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50px;
  color: #999;
  font-size: 14px;
  font-family: "Source Code Pro";
}

body .wrap .controls {
  position: absolute;
  width: 400px;
  height: 400px;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
}

body .wrap .controls div {
  width: 150px;
  position: absolute;
}

body .wrap .controls div.height {
  width: calc(100% + 20px);
  left: -250px;
  bottom: 190px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

body .wrap .controls div.height:before {
  content: 'Height';
}

body .wrap .controls div.width {
  width: calc(100% + 20px);
  bottom: -50px;
  left: -10px;
}

body .wrap .controls div.width:before {
  content: 'Width';
  top: 30px;
}

body .wrap .controls div input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin-bottom: 10px;
}

body .wrap .controls div input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

body .wrap .controls div input[type=range]:focus {
  outline: none;
}

body .wrap .controls div input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

body .wrap .controls div input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: -8px;
  background: #ccc;
}

/*body .wrap .controls div input[type=range]:focus::-webkit-slider-thumb:hover {
  background: #367ebd;
}

body .wrap .controls div input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

body .wrap .controls div input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #555;
  border-radius: 1.3px;
}

body .wrap .controls div input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

body .wrap .controls div input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

body .wrap .controls div input {
  width: 100%;
}

body .wrap .controls div:before {
  color: #666;
  font-family: "Source Code Pro";
  position: absolute;
  width: 100%;
  text-align: center;
  top: -25px;
}

body .wrap .controls div.topleft:before {
  content: 'Top Left';
}

body .wrap .controls div.topright {
  right: 0;
  top: 0;
}

body .wrap .controls div.topright:before {
  content: "Top Right";
}

body .wrap .controls div.bottomright {
  right: 0;
  bottom: 0;
}

body .wrap .controls div.bottomright:before {
  content: 'Bottom Right';
}

body .wrap .controls div.bottomleft {
  left: 0;
  bottom: 0;
}

body .wrap .controls div.bottomleft:before {
  content: 'Bottom Left';
}

body .wrap #blob {
  --topLeft: 500;
  --topLeft2: 500;
  --topRight: 500;
  --topRight2: 500;
  --bottomLeft: 500;
  --bottomLeft2: 500;
  --bottomRight: 500;
  --bottomRight2: 500;
  --blobHeight: 200;
  --blobWidth: 200;
  z-index: 999;
  position: absolute;
  width: calc(1px * var(--blobWidth));
  height: calc(1px * var(--blobHeight));
  left: calc(50% - ((var(--blobWidth) * 1px) / 2));
  top: calc(50% - ((var(--blobHeight) * 1px) / 2));
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #15f9cd;
  border-radius: calc(1px * var(--topLeft)) calc(1px * var(--topRight)) calc(1px * var(--bottomRight)) calc(1px * var(--bottomLeft))/calc(1px * var(--topLeft2)) calc(1px * var(--topRight2)) calc(1px * var(--bottomRight2)) calc(1px * var(--bottomLeft2));
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
